* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: white;
    outline: none;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 12px 17px;
    float: right;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

input[type=submit]:hover {
    opacity:1;
}



#sign_section{
    background-color: rgb(196, 200, 240);
    margin-top: 1%;
    padding: 2%;
    padding-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}


td{
    width: 40%;
}

#tabl{
    margin-left:20%; 
    margin-right: 20%;
}

h2{
    padding-left: 7%;
}